#adv-search-dropdown {
    position: absolute;
    top: 365px;
    z-index: 9;
    left: 76px;
    background: #04122d;
    width: 87.4%;
    opacity: 0;
    padding: 4px;
    font-size: 10px;
    display: none;

    .inner {
        border: 2px solid #fff;
        padding: 10px 0;
    }

    .mb-20 {
        margin-bottom: 16px;
    }

    .input-field > label {
        -webkit-transform: none;
        transform: none;
    }

    label, [type="checkbox"] + span:not(.lever) {
        font-size: 10px;
    }

    input[type="text"] {
        height: 1rem;
    }

    .multi-select-container label {
        margin-top: 15px;
    }
}

.mb-20 {
    margin-bottom: 20px;
}

#adv-search-dropdown {
    a.advance-search_close {
        position: absolute;
        right: 7px;
        top: 10px;
        color: #fff;
    }

    p {
        margin-bottom: 2px;
    }
}

#adv-search-dropdown {
    position: absolute;
    top: 365px;
    z-index: 9;
    left: 76px;
    background: $dark_theme_color;
    width: 87.4%;
    opacity: 0;
    -webkit-transition: ease-in-out .2s;
    transition: ease-in-out .2s;
    padding: 4px;
    font-size: 10px;
    display: none;

    &.show {
        opacity: 1;
        display: block;
    }

    .inner {
        border: 2px solid $white;
        padding: 10px 0px;
    }

    .mb-20 {
        margin-bottom: 16px;
    }

    button.theme-btn {
        border: 0;
        margin-right: 0px;
        width: 40%;
        margin-left: 10px;
        margin-top: 16px;
        display: inline-block;
        color: #fff;
        padding: 10px;
        text-transform: uppercase;
        font-weight: 600;

        &:focus, &:hover {
            background-color: #1a428e !important;
        }
    }

    .input-field > label {
        &:not(.label-icon).active {
            transform: none;
        }

        transform: none;
    }

    label, [type="checkbox"] + span:not(.lever) {
        font-size: 10px;
    }

    input[type="text"] {
        height: 1rem;
    }

    .select-wrapper {
        margin: 0 0px;

        .caret {
            fill: rgba(251, 248, 248, 0.87);
        }
    }

    .multi-select-container {
        label {
            margin-top: 15px;
            display:block;
            margin-bottom:8px;
        }

        .select2-container {
            .select2-selection--multiple {
                min-height: 30px;
            }
        }
    }
}

#adv-search-dropdown {
    a.advance-search_close {
        position: absolute;
        right: 7px;
        top: 10px;
        color: $white;
    }
    input.select-dropdown.dropdown-trigger {
        font-weight: bold;
        font-size: 10px;
        height: 1rem;
    }

    p {
        margin-bottom: 2px;
    }

    .select-wrapper {
        margin-top: 21px;
        width:100%;

        + label {
            top: 0px;
            width:200px;
        }
    }

    .dropdown-content li {
        clear: both;
        color: rgba(0, 0, 0, 0.87);
        cursor: pointer;
        min-height: 29px;
        line-height: 1.5rem;
        width: 100%;
        text-align: left;

        > {
            a, span {
                font-size: 12px;
                line-height: 13px;
                padding: 6px 16px;
            }
        }
    }
}

.listing--advance_search {
    #adv-search-dropdown{
        top:247px;
        z-index:9;
        .inner{
            padding:10px 0px 10px 10px;
        }
    }
}
.multi-select-container{
  label{
    margin-top:12px;
  }
  .select2-container {
    width:100% !important;
  }
  .select2-container--default{
    &.select2-container--focus .select2-selection--multiple {
      border: solid #aaa 1px;
    }
    .select2-search--inline .select2-search__field {
      height: auto;
      padding-top: 3px;
      margin-bottom: 5px;
    }
    .select2-selection--multiple{
      background-color: transparent;
      border: 1px solid #aaa;
      border-radius: 0px;
      .select2-selection__choice {
        background-color: $dark_theme_color;
        border: 1px solid #f6f7f9;
        color:$white;
        padding:1px 5px;
      }
      .select2-selection__choice__remove {
        color:$white;
      }
    }
  }
  input[type=search]:not(.browser-default):focus:not([readonly]){
    border-bottom:0;
    box-shadow:none;
  }
}
.Leads{
    #adv-search-dropdown {
        top: 106px;
    }
}