/node_modules
/public/hot
/public/files
/public/storage
/storage/*.key
/storage/uploads
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
.cache/
dist/
coverage/

