
/*Market report*/



.inner--title{
    margin: 40px 0px;
}
.inner--title h1{
    font-size: 30px;
    color: #555;
}
.inner--title p{
    font-size: 16px;
    color: #888;
}
.page--info p{
    font-size: 13px;
    color: #555;
    margin-bottom: 8px;
}
.page--info a{
    color: #555;
    text-decoration: none;
}
.page--info h2 {
    font-size: 24px;
    color: #737171;
    font-weight: 400;
    margin-bottom: 20px;
}
a.green-line {
    border-bottom: 1px solid #00a651;
}
a.purple-line {
    border-bottom: 1px solid #2e3192;
}
a.orange-line {
    border-bottom: 1px solid #f7941d;
}
.page--info {
    margin-bottom: 60px;
}
.market--left__search p{
    font-size: 14px;
    color: #555;
}
.market--left__search select {
    margin-left: 10px;
    width: 73%;
    color: #555;
    font-size: 12px;
    padding: 3px;
}
.market--left__sort--btns a {
    font-size: 13px;
    display: inline-block;
    margin-right: 7px;
    text-align: center;
    width: 44%;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 4px;
    color: #555;
    margin-top: 10px;
    text-decoration: none;
}
.market--left__sort--btns a:hover{
    background:#0091ff;
    color:#fff;
}
.market--right__display--options{
    margin-top: 40px;
}
.market--right__display--options div {
    font-size: 13px;
    color: #555;
    display: inline-block;
    width: 48%;
    margin-bottom:6px;
}
.market--right__display--options input{
    vertical-align: middle;
    margin-right: 8px;
}
.market--compare--btns a{
    text-decoration: none;
    color: #666;
    font-size: 14px;
    display: inline-block;
    border: 1px solid #777;
    padding: 4px 10px;
    margin-right: 10px;
}
a.btn-orange {
    background: #f7941d;
    color: #fff;
    border: 1px solid #f7941d;
}
a.btn-green {
    background: #009700;
    color: #fff;
    border: 1px solid #009700;
}
a.btn-blue {
    background: #123059;
    color: #fff;
    border: 1px solid #123059;
}
.tags {
    margin: 20px 0px;
    font-size: 11px;
    font-style: italic;
}
.tags span {
    background: #a1a1a1;
    color: #fff;
    padding: 2px 9px;
    margin-right: 4px;
    border-radius: 5px;
}
.tags i{
    cursor: pointer;
    margin-left: 4px;
}
.market--right__search{
    padding-left: 40px;
    margin-bottom: 40px;
}
.market__search--lists-item {
    display: inline-block;
    width: 15%;
    padding: 15px;
    background: #ececec;
    box-shadow: 1px 1px 2px #888;
    margin-right: 14px;
    margin-bottom: 16px;
}
.market__search--lists-item p{
    margin-bottom: 2px;
    font-size: 12px;
    color: #7e7e7e;
}
.market__search--lists-item label {
    vertical-align: middle;
    font-weight: bold;
    margin-left: 7px;
    font-size: 14px;
    margin-bottom: 5px;
}
.market__search--lists-item i{
    margin-right: 5px;
}
.market__search--lists {
    height: 320px;
    overflow-y: auto;
}
.market--right__search .btn--label {
    font-size: 14px;
    font-weight: bold;
    color: #555;
}
.mt-40{
    margin-top: 40px;
}
.market--compare--btns {
    display: inline-block;
    margin-left: 10px;
}
.btn-checkbox {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
.btn-default {
    color: #333;
    background-color: #fff;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid #ccc;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-checkbox.active:after {
    content: "\2713";
}
.market--right__display--options .show-average-data-btn.active, .market--right__display--options .show-active-data-btn.active, .show-sold-data-btn.active {
    color: #333 !important;
    border: 1px solid #333 !important;
    background: #fff;
}
.market__search--lists-item [type="checkbox"]:not(:checked),.market__search--lists-item [type="checkbox"]:checked {
    position: relative;
    opacity: 1;
    pointer-events: initial;
}
.market--left__sort--btns .active{
    border: 1px solid #0091ff !important;
    background: #0091ff;
    color: #fff !important;
}