.tabs {
    .tab {
        a {
            color: rgb(87, 87, 88);
            text-transform: none;

            &:hover, &.active, &:focus {
                background-color:transparent;
                color: #9c27b0;

                &.active {
                    background-color:transparent;
                }
            }
        }
    }

    .indicator {
        background-color: #9c27b0;
    }
}
