.tabs {

    .tab {
        a {
            color: #126692;
            text-transform: none;
            padding: 0px 10px;
            font-weight: 600;
            font-size: 13px;

            &:hover, &.active, &:focus {
                background-color: transparent;
                color: #126692;

                &.active {
                    background-color: transparent;
                }
            }
        }
    }

    .indicator {
        background-color: $theme-color;
    }
}
